[Unit]
Description=LED Indicator for Pihole
After=networking.service

[Service]
Type=simple
Restart=always
RestartSec=1
### Edit the following line to point to pihole-led-blink.sh ### 
ExecStart=<path to pihole-led-blink.sh>

[Install]
WantedBy=default.target
